# --- ARCHIVOS DE PROYECTO ---
datos.txt
docs.ps1

# --- SISTEMA OPERATIVO Y IDEs (GLOBAL) ---
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
*.swp

# --- BACKEND (PYTHON) ---
venv/
.venv/
.env
.env.prod
.env.neon
__pycache__/
*.py[cod]
uploads/
.uploads/
site/
.site/
*.pyc
.pytest_cache