# --- Framework & Servidor ---
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# --- Base de Datos ---
sqlalchemy
asyncpg
alembic

# --- Seguridad / Autenticación ---
PyJWT
bcrypt
cryptography

# --- Validación y Configuración ---
pydantic[email]
pydantic-settings

# --- Rate limiting ---
slowapi
cachetools

# --- Servicios externos ---
cloudinary

# --- Encodear Imagen ---
pillow

# --- Email ---
aiosmtplib

# --- Documentación ---
mkdocs
mkdocstrings[python]

# --- Gestion de librerias ---
pip-review

# --- tests ---
pytest
pytest-asyncio
pytest-cov
httpx