# --- Framework & Servidor ---
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# --- Base de Datos ---
sqlalchemy
asyncpg

# --- Seguridad / Autenticación ---
PyJWT
bcrypt

# --- Validación y Configuración ---
pydantic[email]
pydantic-settings

# --- Rate limiting ---
slowapi

# --- Servicios externos ---
cloudinary

# --- Encodear Imagen ---
pillow

# --- Email ---
aiosmtplib

# --- Documentación ---
pdoc

# --- Gestion de librerias ---
pip-review

# --- tests ---
pytest
pytest-asyncio
httpx